.eslintignore
.eslintrc
.prettierrc
tsconfig.json
tsconfig.prod.json
webpack.config.js
webpack.prod.js
src
node_modules
dist
coverage
test
.vscode
jest.config.ts
babel.config.js
uniprot-nightingale-*.tgz