div.un-track-row {
    display: table;
    width: 100%;
    height: 40px;
}

div.un-track-row.main,
.un-subtracks-container .un-track-row {
    margin-bottom: 0.1em;
    border-bottom: 0.1em solid #b2f5ff;
}
.un-subtracks-container.scrollable {
    overflow-y: scroll;
    min-height: 50px;
    height: 200px;
}
div.un-track-content {
    display: block;
    width: 100%;
}
div.un-track-content.empty .empty {
    display: block;
}
div.un-track-content.main .main {
    display: block;
}
div.un-track-content.empty .main {
    display: none !important;
}
div.un-track-content.main .empty {
    display: none !important;
}
.rectangle.feature {
    fill-opacity: 0.6 !important;
}
.fragment-group:hover {
    stroke-width: 1.5px;
}
.fragment-group.clicked {
    stroke-width: 2px;
    filter: brightness(70%);
}
circle.feature.clicked {
    stroke-width: 2px;
    stroke: black;
}

protvista-track svg,
protvista-navigation svg,
protvista-sequence svg,
protvista-variation-graph svg,
protvista-variation svg {
    width: 100%;
}

div.un-track-label {
    display: table-cell;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    width: 198px;
    max-width: 198px;
    min-width: 198px;
    padding: 0.5em;
    vertical-align: middle;
}
div.un-track-label div.bold {
    font-weight: bold;
}
div.un-track-label.main {
    background-color: #b2f5ff;
    cursor: pointer;
}

div.un-track-label.sub {
    background-color: #d9faff;
}

div.un-track-label.main:hover {
    background-color: #80eeff;
}

div.un-track-label.arrow-right:before {
    content: " ";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #333;
    margin-right: 5px;
}

div.un-track-label .fas.fa-arrow-circle-right {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    float: right;
}
div.un-track-label .fas.fa-arrow-circle-right.clicked {
    color: rgb(0, 0, 0);
}
div.un-track-label .fas.fa-redo {
    cursor: pointer;
    float: right;
}

div.un-track-label div {
    overflow: hidden;
    text-overflow: ellipsis;
}

div.un-track-label.arrow-down:before {
    content: " ";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    margin-right: 5px;
}
